@model UpdateCategoryDto

@{
    ViewData["Title"] = "تعديل تصنيف ";
    Layout = null;
}

        <form asp-action="Update" class="ajaxForm" tname="#kt_datatable" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" type="hidden" />
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                
                
            </div>
            
           
            <div class="form-group">
                <input type="submit" value="تعديل" class="btn btn-primary" />
                <a data-dismiss="modal" aria-label="Close" class="btn btn-danger">الغاء</a>
            </div>
        </form>


<script>
    PageLoadActions();
</script>

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>