@model List<ContentChangeLogViewModel>

@{
    Layout = null;
            }

<table class="table table-hover">
    <tr>
        <th>الوقت</th>
        <th>من</th>
        <th>الى</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <th>@x.ChangeAt</th>
            <th>@x.Old</th>
            <th>@x.New</th>
        </tr>
    }
</table>