@model UpdatePostDto

@{
    ViewData["Title"] = "تعديل خبر  ";
    Layout = null;
}

<form asp-action="Update" class="ajaxForm" tname="#kt_datatable" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <input asp-for="Body" class="form-control" />
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="TimeInMinute" class="control-label"></label>
                <input asp-for="TimeInMinute" class="form-control" />
                <span asp-validation-for="TimeInMinute" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.categories">
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="AuthorId" class="control-label"></label>
                <select asp-for="AuthorId" class="form-control" asp-items="@ViewBag.authores">
                </select>
                <span asp-validation-for="AuthorId" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Attachments" class="control-label"></label>
                <input asp-for="Attachments" class="form-control" />
                <span asp-validation-for="Attachments" class="text-danger"></span>
            </div>
        </div>
    </div>


    <div class="form-group">
        <input type="submit" value="حفظ" class="btn btn-primary" />
        <a data-dismiss="modal" aria-label="Close" class="btn btn-danger">الغاء</a>
    </div>

</form>

<hr />

<table class="table table-hover">
    <tr>
        <th>Name</th>
        <th>Action</th>
    </tr>
    @foreach(var x in Model.PostAttachments)
     {
         <tr>
             <th>
                 @x.AttachmentUrl
             </th>
           <th>
               <a target="_blank" href="~/Images/@x.AttachmentUrl" class="btn btn-info">Go to File</a>
               <a href="~/post/RemoveAttachment/@x.Id" class="btn btn-danger">Delete</a>
           </th>
         </tr>
     }

</table>

<script>
    PageLoadActions();
</script>

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>